/* Sieepanel styles */

.active {
    background-color: #fff;
    border-radius: 5px;
}

.container-fluid {
    padding-left: 0;
}

.col-sidepanel {
    padding-right: 0;
}

.col-dash-body {
    padding-left: 0;
    padding-right: 0;
}

.header {
    background-color: #34495e;
    padding: 15px 0px;
    height:10vh;
}

.header-icon-wrapper {
    float: right;
}

.header-icon-wrapper {
   margin-right: 20px;
}

.header-icon-wrapper a img {
    margin-right: 20px;
}


.dashboard {
    width: 100%;
    overflow: hidden;
}



.sidepanel {
    background-color: #f6f6f6;
    height: 90vh;
    overflow: scroll;
}

.userprofile-wrapper {
    margin-bottom: 30px;
    padding: 30px 30px 0px 30px;
}

.userprofile-wrapper h6 {
    margin: 0;
    font-weight: 600;
}

.userprofile-wrapper p {
    color: #848383;
    margin: 0;
}

.sidepanel-nav {
    margin-bottom: 30px;
    padding: 0px 20px;
}

.sidepanel-nav h6 {
    color: #e48515;
    font-weight: 600;
    padding-left: 10px;
}

.sidepanel-nav ul {
    padding: 0;
    list-style: none;
}

.sidepanel-nav ul li {
    padding: 10px 0 10px 10px;
    padding-left: 10px;
}

.sidepanel-nav ul li:hover {
    padding: 10px 0 10px 10px;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.sidepanel-nav ul li a {
    text-decoration: none;
    color: #848383;
}

.sidepanel-nav ul li a img {
    margin-right: 10px;
}


/* Dashboard body styles */

.dash-header {
    background-color: #a2a2a2;
    padding: 10px 10px 10px 50px;
}

.dash-header h6 {
    display: inline-block;
    color: #fff;
    font-weight: 600;
    margin: 0;
    position: relative;
    top: 3px;
    left: 10px;
}

.dash-body {
    padding: 30px 10px 10px 50px;
}

.section{
    width:100%;
    height:90vh;
}
