/* Colors 
     --- #455852
     --- #9c9b7e
     --- #f9d49b
     --- #f29b5e
     --- #e45b39
*/

.forgotPass{
    border-bottom: 1px #4558525d solid;
    padding-bottom: 30px;
    position: relative;
}

.forgotPass-header{
    color:#575757;
    font-size: 28px;
}

.enter-bank-id{
    color:rgb(129, 129, 129);
    font-size: 90%;
}
.bank-id *{
    display:inline;
}

.option-1{
    padding: 30px 0 0 20px;
}

.bankID{
    padding: 5px 0;
    width: 40%;
    border-radius: 3px;
    border: 1px #f29c5e57 solid;


}

.submit-btn-div{
    margin-top: 20px;
}

.option-2{
    padding-left: 20px;
    margin: 40px auto;
    color: rgb(129, 129, 129);
    font-size: 90%;
}

.opt-2-heading{
    font-size: 22px;
    color: #585858;
}

.steps-ol{
    padding-left: 25px;
}

.steps-ol li{
    padding: 15px 0;
}