/* Colors 
     --- #455852
     --- #9c9b7e
     --- #f9d49b
     --- #f29b5e
     --- #e45b39
*/

.transfer-det{
    padding: 4% 0 0 4%;
}

.transfer-det select{
    width: 100px;
   border: none;
}

.transfer-details{
    padding: 4% 0 0 4%;
}

.transfer-form{
    padding-top: 3%;
}

.transfer-details div{
    padding-bottom: 23px;
}

.transfer-form p{
    display: inline-block;
    width: 200px;
}
input[type = text], input[type = number]{
    width: 300px;
    height: 40px;
}

.radio{
    padding-right: 10px;
}