@charset "ISO-8859-1";

p{
    color:#da8f40;
    margin-bottom: 3px;
}

select{
    margin-right: 40px;
    width: 20%;
    height: 32px;
}

.payments-hisroy{
    margin-top: 30px;
}

table{
    width: 80%;
}

td, th {
    border-bottom: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

input[type="checkbox"]{
    margin-right: 20px;
}

.payment-category {
    margin-bottom: 30px;
}