.settings-wrapper {
    width: 100%;
    margin-bottom: 30px;
}

.settings-wrapper p {
    display: inline-block;
    width: 85px;
    font-weight: 600;
}

.settings-wrapper input {
    width: 300px;
    height: 40px;
    border: 1px rgb(216, 216, 216) solid;
    border-radius: 3px;
    padding: 10px;
    display: block;
    margin-bottom: 5px;
}

.settings-wrapper button {
    margin-right: 15px;
}