.contactus-container{
    background-color: #9c9b7e1c;
    margin: 0px 0px;
    padding: 1px;
    border-radius: 4px;
    width: 95%;
}

h6 {
    color: #e48515;
    font-weight: 600;
}

.h6-black {
    color: #000;
    font-weight: 600;
}

.row-contact-options .col-md-6,
.row-contact-options .col-md-12 {
    margin-bottom: 25px;
}

a,
address {
    color: #848383;
}


.contactus-container *{
    display: block;
    margin: 20px;
}

.input{
    width: 85%;
    padding: 2% 0%;
    border: 1px #f29c5e57 solid;
    border-radius: 3px;
}

input::placeholder{
    color: #dfdfdff5;
    padding-left: 10px;
}


.btn-register:hover{
    background-color: #9c9b7e1c;
    color: #f29b5e;
    
}
.buttons{
    width: 50%;
    margin: 50px 0;
}

textarea {
    height: 70px;
}

textarea::placeholder{
    color: #dfdfdff5;
    padding-left: 10px;
}
