/* Colors 
     --- #455852
     --- #9c9b7e
     --- #f9d49b
     --- #f29b5e
     --- #e45b39
*/

.transfer-form{
    padding-top: 3%;
}

.transfer-form p{
    display: inline-block;
    width: 200px;
}

input {
    width: 300px;
    height: 40px;
    border:1px rgb(216, 216, 216) solid ;
    border-radius: 3px;
    padding: 10px;
}

span {
    font-size: 14px;
    font-weight: 600;
}