.btn-add-customer {
    float: right;
    margin-bottom: 10px;
}

/* CREATE ACCOUNT STYELS */
form {
    width: 100%;
}

form label {
    display: inline-block;
    width: 35%;
}

form input {
    display: inline-block;
    width: 59%;
    font-size: 14px;
    padding: 5px;
    border: 1px #f29c5e57 solid;
    border-radius: 3px;
    margin-bottom: 5px;
}

form .row  {
    margin-bottom: 30px;
}

#genderMale,
#genderFemale {
    width: 20px;
}

form .btn-orange {
    margin-top: 30px;
}

