/* Colors 
     --- #455852
     --- #9c9b7e
     --- #f9d49b
     --- #f29b5e
     --- #e45b39
*/


body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

input:focus,
button:focus,
textarea:focus,
select:focus {
    outline: 0;
}

.dash-title {
    color: #e48515;
    font-weight: 600;
    text-transform: uppercase;
}

.link{
    text-decoration: none;
    color: black;
}
.link:hover{
    color:black;
    text-decoration: none;
}

.col-centered{
    margin:0 auto;
}

.footer-para{
    font-size: 70%;
    color: rgb(168, 168, 168);
    font-weight: 400;
    margin: 0;
}

.about-us, .contact-us, .devide-span{
    font-size: 70%;
    color: #455852;
}

.about-us:hover, .contact-us:hover{
    color:#e58c28;
}

.footer-content{
    text-align: center;
}

.btn-orange {
    padding: 5px 30px;
    background-color: #e58c28;
    color: white;
    font-weight: 600;
    border: 2px solid #e58c28;
    border-radius: 5px;
}

.btn-orange:hover{
    background-color: #fff;
    border: 2px solid #e58c28;
    color: #e58c28;
    font-weight: 600;
}

.btn-red {
    background-color: #e74c3c;
    padding: 5px 30px;
    color: white;
    font-weight: 600;
    border: 2px solid #e74c3c;
    border-radius: 5px;
}

.btn-red:hover {
    background-color: #fff;
    padding: 5px 30px;
    color: #e74c3c;
    font-weight: 600;
    border: 2px solid #e74c3c;
    border-radius: 5px;
}

.btn-logout {
	background-image: url('../assets/icons/icon_logout.png');
    background-size: cover;
    background-position: center;
    background-color: #34495e;
    border: none;
    width: 28px;
    height: 28px;
}

.transactions form {
	display: inline;
}

.btn-delete {
	background-image: url('../assets/icons/icon_admin_delete.png');
    background-size: cover;
    background-position: center;
    border: none;
    position: relative;
    top: 5px;
        width: 20px;
    height: 20px;
}
}
